In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.DataFrame({ 'A' : 1.,
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D' : pd.Series([1, 2, 1, 2], dtype='int32'),
                    'E' : pd.Categorical(["test", "train", "test", "train"]),
                    'F' : 'foo' })

In [3]:
df

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  1   test  foo
1  1.0 2013-01-02  1.0  2  train  foo
2  1.0 2013-01-02  1.0  1   test  foo
3  1.0 2013-01-02  1.0  2  train  foo

In [4]:
df.B

0   2013-01-02
1   2013-01-02
2   2013-01-02
3   2013-01-02
Name: B, dtype: datetime64[ns]

In [5]:
df.groupby('E').sum().D

E
test     2
train    4
Name: D, dtype: int32

In [7]:
s = pd.Series([1,2,3,4,np.nan,6,8])
s

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
5    6.0
6    8.0
dtype: float64

In [9]:
dates = pd.date_range('20130101',periods =6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [10]:
df = pd.DataFrame(np.random.randn(6,4),
                  index=dates,columns =list('ABCD'))

In [11]:
df

                   A         B         C         D
2013-01-01 -1.614300 -2.056781 -0.786479  0.968507
2013-01-02 -0.523267  0.031896  0.159897 -0.695342
2013-01-03  0.055000  0.235806 -1.132666 -0.919900
2013-01-04  1.320023 -1.214154 -1.422624  2.259962
2013-01-05 -0.331528  0.986969 -0.275471  1.158731
2013-01-06 -0.030756  0.341990  1.055743 -0.643637

In [12]:
df2 = pd.DataFrame({ 'A' : 1.,
                     'B' : pd.Timestamp('20130102'),
                     'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                     'D' : np.array([3] * 4,dtype='int32'),
                     'E' : pd.Categorical(["test","train","test","train"]),
                     'F' : 'foo' })

In [13]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [14]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [18]:
df.head()

                   A         B         C         D
2013-01-01 -1.614300 -2.056781 -0.786479  0.968507
2013-01-02 -0.523267  0.031896  0.159897 -0.695342
2013-01-03  0.055000  0.235806 -1.132666 -0.919900
2013-01-04  1.320023 -1.214154 -1.422624  2.259962
2013-01-05 -0.331528  0.986969 -0.275471  1.158731

In [19]:
df.tail(3)

                   A         B         C         D
2013-01-04  1.320023 -1.214154 -1.422624  2.259962
2013-01-05 -0.331528  0.986969 -0.275471  1.158731
2013-01-06 -0.030756  0.341990  1.055743 -0.643637

In [20]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [21]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [22]:
df.values

array([[-1.61430033, -2.05678121, -0.78647893,  0.96850723],
       [-0.52326712,  0.03189619,  0.15989653, -0.69534209],
       [ 0.05499987,  0.23580589, -1.13266619, -0.91989998],
       [ 1.32002295, -1.21415425, -1.42262382,  2.25996236],
       [-0.33152795,  0.98696882, -0.27547096,  1.15873068],
       [-0.03075643,  0.34198974,  1.05574316, -0.6436365 ]])

In [23]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.187472 -0.279046 -0.400267  0.354720
std    0.951340  1.130045  0.914342  1.294382
min   -1.614300 -2.056781 -1.422624 -0.919900
25%   -0.475332 -0.902642 -1.046119 -0.682416
50%   -0.181142  0.133851 -0.530975  0.162435
75%    0.033561  0.315444  0.051055  1.111175
max    1.320023  0.986969  1.055743  2.259962

In [24]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -1.614300   -0.523267    0.055000    1.320023   -0.331528   -0.030756
B   -2.056781    0.031896    0.235806   -1.214154    0.986969    0.341990
C   -0.786479    0.159897   -1.132666   -1.422624   -0.275471    1.055743
D    0.968507   -0.695342   -0.919900    2.259962    1.158731   -0.643637

In [25]:
df.sort_index(axis = 1,ascending=False)

                   D         C         B         A
2013-01-01  0.968507 -0.786479 -2.056781 -1.614300
2013-01-02 -0.695342  0.159897  0.031896 -0.523267
2013-01-03 -0.919900 -1.132666  0.235806  0.055000
2013-01-04  2.259962 -1.422624 -1.214154  1.320023
2013-01-05  1.158731 -0.275471  0.986969 -0.331528
2013-01-06 -0.643637  1.055743  0.341990 -0.030756

In [27]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-01 -1.614300 -2.056781 -0.786479  0.968507
2013-01-04  1.320023 -1.214154 -1.422624  2.259962
2013-01-02 -0.523267  0.031896  0.159897 -0.695342
2013-01-03  0.055000  0.235806 -1.132666 -0.919900
2013-01-06 -0.030756  0.341990  1.055743 -0.643637
2013-01-05 -0.331528  0.986969 -0.275471  1.158731

In [28]:
df['A']

2013-01-01   -1.614300
2013-01-02   -0.523267
2013-01-03    0.055000
2013-01-04    1.320023
2013-01-05   -0.331528
2013-01-06   -0.030756
Freq: D, Name: A, dtype: float64

In [31]:
df[1:2]

                   A         B         C         D
2013-01-02 -0.523267  0.031896  0.159897 -0.695342

In [32]:
df['20130102':'20130104']

                   A         B         C         D
2013-01-02 -0.523267  0.031896  0.159897 -0.695342
2013-01-03  0.055000  0.235806 -1.132666 -0.919900
2013-01-04  1.320023 -1.214154 -1.422624  2.259962

In [33]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [44]:
df.loc[dates[1]]

A   -0.523267
B    0.031896
C    0.159897
D   -0.695342
Name: 2013-01-02 00:00:00, dtype: float64

In [39]:
df.loc[:,['A','B']]

                   A         B
2013-01-01 -1.614300 -2.056781
2013-01-02 -0.523267  0.031896
2013-01-03  0.055000  0.235806
2013-01-04  1.320023 -1.214154
2013-01-05 -0.331528  0.986969
2013-01-06 -0.030756  0.341990

In [45]:
df.loc['20130102':'20130104',['A','B']]

                   A         B
2013-01-02 -0.523267  0.031896
2013-01-03  0.055000  0.235806
2013-01-04  1.320023 -1.214154

In [46]:
df.loc[dates[0],'A']

-1.6143003349964526

In [47]:
df.iloc[3]

A    1.320023
B   -1.214154
C   -1.422624
D    2.259962
Name: 2013-01-04 00:00:00, dtype: float64

In [48]:
df.iloc[3:5,0:2]

                   A         B
2013-01-04  1.320023 -1.214154
2013-01-05 -0.331528  0.986969

In [49]:
df.iat[1,1
      ]

0.031896192698816161

In [50]:
df[df.A>0]

                   A         B         C         D
2013-01-03  0.055000  0.235806 -1.132666 -0.919900
2013-01-04  1.320023 -1.214154 -1.422624  2.259962

In [51]:
df[df>0]

                   A         B         C         D
2013-01-01       NaN       NaN       NaN  0.968507
2013-01-02       NaN  0.031896  0.159897       NaN
2013-01-03  0.055000  0.235806       NaN       NaN
2013-01-04  1.320023       NaN       NaN  2.259962
2013-01-05       NaN  0.986969       NaN  1.158731
2013-01-06       NaN  0.341990  1.055743       NaN

In [52]:
df2 = df.copy()

In [53]:
df2['E']=['one','one','two','three','four','four']

In [54]:
df2

                   A         B         C         D      E
2013-01-01 -1.614300 -2.056781 -0.786479  0.968507    one
2013-01-02 -0.523267  0.031896  0.159897 -0.695342    one
2013-01-03  0.055000  0.235806 -1.132666 -0.919900    two
2013-01-04  1.320023 -1.214154 -1.422624  2.259962  three
2013-01-05 -0.331528  0.986969 -0.275471  1.158731   four
2013-01-06 -0.030756  0.341990  1.055743 -0.643637   four

In [56]:
df2[df2['E'].isin(['two','four'])]

                   A         B         C         D     E
2013-01-03  0.055000  0.235806 -1.132666 -0.919900   two
2013-01-05 -0.331528  0.986969 -0.275471  1.158731  four
2013-01-06 -0.030756  0.341990  1.055743 -0.643637  four

In [60]:
s1=pd.Series([1,2,3,4,5,6],
             index=pd.date_range('20130102',periods=6))
s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64